absl-py==2.1.0
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
attrs==24.2.0
backports.weakref==1.0.post1
brotlipy==0.7.0
clyent
conda-repo-cli==1.0.41
conda-verify==3.4.2
constantly==15.1.0
cssselect==1.1.0
daal4py==2023.1.1
pyqt5
pyqtwebengine
datashape==0.5.4
docker-pycreds==0.4.0
et-xmlfile==1.1.0
flatbuffers==24.3.25
fonttools==4.25.0
gast==0.6.0
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
grpcio==1.67.1
h11==0.14.0
h5py==3.12.1
inflection==0.5.1
jsonpointer==2.1
keras==3.6.0
libclang==18.1.1
mkl-service==2.4.0
ml-dtypes==0.4.1
mpmath==1.2.1
munkres==1.1.4
mypy-extensions==0.4.3
namex==0.0.8
navigator-updater==0.4.0
ngrok==1.4.0
numpy==1.26.4
openpyxl==3.0.10
opt_einsum==3.4.0
optree==0.13.0
outcome==1.3.0.post0
pandas==1.5.3
patsy==0.5.3
pep8==1.7.1
Pillow==9.4.0
ply==3.11
protobuf==5.28.3
pyarrow==11.0.0
pyasn1-modules==0.2.8
pycurl==7.45.2
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5-sip==12.11.0
pytesseract==0.3.13
python-dotenv==1.0.1
python-lsp-jsonrpc==1.0.0
queuelib==1.5.0
rich==13.9.4
scikit-learn-intelex==20230426.111612
scipy==1.10.1
selenium==4.25.0
sentry-sdk==2.18.0
setproctitle==1.3.3
smmap==5.0.1
sniffio==1.3.1
TBB==0.2
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
trio==0.27.0
trio-websocket==0.11.1
typing_extensions==4.12.2
wandb==0.18.7
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
wntr==1.2.0
wsproto==1.2.0
