.precautions-content h1 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}

.precautions-content p {
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
}

.precautions-content li {
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
}
